.wrap {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.tabs {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid var(--gray-light);
}

.tabs > button {
    padding-bottom: 24px;
    border: 0;
    background: transparent;
    border-bottom: 5px solid transparent
}

.tabs > button:hover {
    color: var(--primary)
}

.active {
    border-bottom-color: var(--primary) !important;
}

.panel {
    padding-top: 8px
}