.wrap {
    padding-left: 64px;
    position: relative;
    min-height: calc(100dvh - 64px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('/picture2x.jpg') center/cover no-repeat;
}

.content h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 67%;
    color: var(--inputs);
    margin-bottom: 16px;
}

.content p {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--inputs);
    margin-bottom: 40px;
}